<%- include('partials/header') %>

<h1 class="heading2">Read Blog</h1>


    <h3><%= post.blogTitle %></h3>
    <p><%= post.blogContent %></p>
    
    
    
    <form action="/delete" method="POST">
        <input type="hidden" name="blogID" value= <%= post.blogID %>>
        <input type="submit" value="Delete Post">
      </form>  


    <form action="/update" method="POST">
        <!-- <input type="text" id="myInputField1" name="myInputField1" value="<%= post.blogTitle %>" >
        <input type="text" id="myInputField2" name="myInputField2" value="<%= post.blogContent %>"> -->

        <input type="hidden" name="blogID" value= <%= post.blogID %>>
        <input type="submit" value="Update Post">
    </form>    
    


<%- include('partials/footer') %>
